<form class="l5r5e gm-tools-dialog" autocomplete="off">
    <p class="gm-tools-container">
        <a class="difficulty_hidden"><i class="fa fa-eye{{#if data.difficultyHidden}}-slash{{/if}}"></i></a>
        <strong class="difficulty">{{data.difficulty}}</strong>
    </p>
</form>
