<ul class="attributes-wrapper">
    <li class="endurance-content">
        <label class="attribute-label">
            <strong>{{ localize 'l5r5e.attributes.endurance' }}</strong>
            <input class="centered-input" type="number" name="data.endurance" value="{{data.endurance}}" data-dtype="Number" disabled/>
        </label>
        <label class="attribute-label">
            <strong>{{ localize 'l5r5e.attributes.fatigue' }}</strong>
            <input class="centered-input select-on-focus" type="number" name="data.fatigue.value" value="{{data.fatigue.value}}" data-dtype="Number" min="0" placeholder="0"/>
        </label>
        <p class="item-description"> {{ localize 'l5r5e.attributes.endurancetip' }}</p>
    </li>
    <li class="composure-content">
        <label class="attribute-label">
            <strong>{{ localize 'l5r5e.attributes.composure' }}</strong>
            <input class="centered-input" type="number" name="data.composure" value="{{data.composure}}" data-dtype="Number" disabled/>
        </label>
        <label class="attribute-label">
            <strong>{{ localize 'l5r5e.attributes.strife' }}</strong>
            <input class="centered-input select-on-focus" type="number" name="data.strife.value" value="{{data.strife.value}}" data-dtype="Number" min="0" placeholder="0"/>
        </label>
        <p class="item-description"> {{ localize 'l5r5e.attributes.composuretip' }}</p>
    </li>
    <li class="focus-content">
        <label class="attribute-label">
            <strong>{{ localize 'l5r5e.attributes.focus' }}</strong>
            <input class="centered-input" type="number" name="data.focus" value="{{data.focus}}" data-dtype="Number" disabled/>
        </label>
        <p class="item-description"> {{ localize 'l5r5e.attributes.focustip' }}</p>
    </li>
    <li class="vigilance-content {{#if data.is_compromised}}compromised{{/if}}">
        <label class="attribute-label">
            <strong>{{ localize 'l5r5e.attributes.vigilance' }}</strong>
            {{#if data.is_compromised}}
            <input class="centered-input" type="number" value="1" disabled/>
            {{else}}
            <input class="centered-input" type="number" name="data.vigilance" value="{{data.vigilance}}" data-dtype="Number" disabled/>
            {{/if}}
        </label>
        <p class="item-description"> {{ localize 'l5r5e.attributes.vigilancetip' }}</p>
    </li>
    <li class="void-content">
        <label class="attribute-label">
            <strong>{{ localize 'l5r5e.attributes.voidpoints' }}</strong>
            <input class="centered-input select-on-focus" type="number" name="data.void_points.value" value="{{data.void_points.value}}" data-dtype="Number" placeholder="0" min="0" max="{{data.void_points.max}}"/>
            <input class="centered-input" type="number" name="data.void_points.max" value="{{data.void_points.max}}" data-dtype="Number" disabled/>
        </label>
    </li>
</ul>