<form class="{{cssClass}}" data-lang="{{localize 'I18N.Language'}}" autocomplete="off">
    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>
        <div class="header-fields identity-wrapper">
            <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
            {{> 'systems/l5r5e/templates/actors/character/identity.html' }}
        </div>
        <div class="header-fields">
            <h2>{{ localize 'l5r5e.social.title' }}</h2>
            <h2 class="right">{{ localize 'l5r5e.attributes.title' }}</h2>
            {{> 'systems/l5r5e/templates/actors/character/social.html' }}
            {{> 'systems/l5r5e/templates/actors/character/rings.html' }}
            {{> 'systems/l5r5e/templates/actors/character/attributes.html' }}
        </div>
    </header>
    {{!-- Sheet Body --}}
    <section class="sheet-body">
        {{!-- Sheet Tab Navigation --}}
        <nav class="sheet-tabs tabs" data-group="primary">
            <a class="item" data-tab="skills">{{ localize 'l5r5e.skills.title' }}</a>
            <a class="item" data-tab="narrative">{{ localize 'l5r5e.narrative' }}</a>
            <a class="item" data-tab="conflict">{{ localize 'l5r5e.conflict.title' }}</a>
            <a class="item" data-tab="inventory">{{ localize 'l5r5e.inventory' }}</a>
            <a class="item" data-tab="experience">{{ localize 'l5r5e.experience' }}</a>
        </nav>

        {{!-- Skills Tab --}}
        <article class="tab skills" data-group="primary" data-tab="skills">
            <ul class="skills-wrapper">
                {{#each data.skills as |category id|}}
                    {{> 'systems/l5r5e/templates/actors/character/category.html' category=category categoryId=id}}
                {{/each}}
            </ul>
            {{> 'systems/l5r5e/templates/actors/character/techniques.html' }}
        </article>

        {{!-- Narrative Tab --}}
        <article class="tab narrative" data-group="primary" data-tab="narrative">
            {{> 'systems/l5r5e/templates/actors/character/narrative.html' }}
        </article>

        {{!-- Conflict Tab --}}
        <article class="tab conflict" data-group="primary" data-tab="conflict">
            {{> 'systems/l5r5e/templates/actors/character/conflict.html' }}
        </article>

        {{!-- Inventory Tab --}}
        <article class="tab inventory" data-group="primary" data-tab="inventory">
            <fieldset class="money money-wrapper">
                <legend class="section-header">{{localize 'l5r5e.money.title'}}</legend>
                <label>
                    {{localize 'l5r5e.money.koku'}}
                    <input name="data.money.koku" type="number" value="{{actor.data.money.koku}}" data-dtype="Number" min="0" placeholder="0"/>
                </label>
                <label>
                    {{localize 'l5r5e.money.bu'}}
                    <input name="data.money.bu" type="number" value="{{actor.data.money.bu}}" data-dtype="Number" min="0" placeholder="0"/>
                </label>
                <label>
                    {{localize 'l5r5e.money.zeni'}}
                    <input name="data.money.zeni" type="number" value="{{actor.data.money.zeni}}" data-dtype="Number" min="0" placeholder="0"/>
                </label>
            </fieldset>
            {{> 'systems/l5r5e/templates/items/item/items.html' }}
        </article>

        {{!-- Experience Tab --}}
        <article class="tab experience" data-group="primary" data-tab="experience">
            {{> 'systems/l5r5e/templates/actors/character/experience.html' }}
        </article>
    </section>
</form>