<fieldset class="armors-content">
    <legend class="section-header">
        {{ localize 'l5r5e.armors.title' }}
        {{#if editable}}
        <a data-item-type="armor" class="armor-control item-add" title="{{ localize 'l5r5e.global.add'}}"><i class="fas fa-plus"></i></a>
        {{/if}}
    </legend>
    <ul class="item-list">
        {{#each actor.items as |item id|}}
            {{#ifCond (ifCond item.type '==' 'armor') '&&' (ifCond item.data.equipped '==' true)}}
                {{> 'systems/l5r5e/templates/items/armor/armor-entry.html' item=item id=id editable=../editable }}
            {{/ifCond}}
        {{/each}}
    </ul>
</fieldset>